**__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/


outputs/*
mlruns/*
reports/*

# checkpoints
*.ckpt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Python virtual environments
.venv/

# mac files
**.DS_Store

#checkpoints
*.pth

#uv files
uv.lock